*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

ul,
li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-image: url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__header {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .8);
    margin-top: 0;
    margin-bottom: 0;
}

.nav__item:first-child {
    margin-right: 85px;
}

.nav__item:last-child {
    margin-left: 85px;
}

.nav__item--icon {
    margin-left: 100px;
    margin-right: 100px;
}

.nav__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all .2s linear;
    cursor: pointer;
}

.nav__item:hover {
    color: #ffffff;
    border-bottom: 1px solid #FFFFFF;
} 

.banner__title {
    font-size: 64px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 4.5px;
    margin-bottom: 20px;
    margin-top: 135px;
}

.banner__info {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 140%;
}
.knopka{
text-align: center;
}
.banner__btn{
text-transform: uppercase;
color: aliceblue;
background-color: #00AFDB;
outline: none;
border: none;
padding: 15px 47px;
margin-top: 30px;
}
.banner__social{
    text-align: center;
    margin-top: 183px;
}
.social__img{
   margin-right: 30px; 
}
.social__img:first-child{
    margin-left: 30px;
}
.zhir{
    font-weight: 700;
}
.block__1{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.block__2{
    font-size: 14px;
}
.koshel{
    margin-top: 295px;
    margin-left: 269px;
}
.block__05{
    font-size: 24px;
}
.block__3{
    margin-top: 10px;
}
.kartinka{
   margin-left: 248px;
   margin-top: 120px;
}
.koshel__papa{
    display: flex;
}
.comunna{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.our{
    font-size: 16px;
}
.block__5{
    font-weight: 400;
}
.ruki{
    text-align: center;
    display: flex;
    margin-top: 260px;
    background-color: #F5F6F7;
    padding-bottom: 140px;
}
.block__6{
display: flex;
margin-top: 120px;
}
.block__4{
    margin-top: 155px;
    margin-left: 269px;
    margin-right: 139px;
}
.kartinka__3{
    margin-right: 30px;
}
.sign{
    text-transform: uppercase;  
    font-size: 24px;
    color: azure;
    text-align: center;
    letter-spacing: 1px;
}
.batya{
background-image: url("../images/pexels-christina-morillo-1181675\ 1.png");
background-repeat: no-repeat;
padding-top: 200px;
padding-bottom: 220px;
}
.email{
    display: flex;
    justify-content: center;
    padding-top: 30px;
} 
input{
    display: block;
    outline: none;
    width: 340px;
    padding-left: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.knock{
    margin: 0px;
    padding: 0px;
    padding-left: 25px;
    padding-right: 25px;
}
.the_app{
 text-transform: uppercase;
 font-weight: 700;
 font-size: 24px;
 text-align:center;
 padding-top: 124px;
}
.machine{
    text-align: center;
    padding-top: 20px;
    line-height: 19,6px;
    font-size: 14px;
}
.phone{
    text-transform: uppercase;
    text-align: center;
}
.apple{
    background-color: #00AFDB;
    display: inline-block;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-weight: 700;
    margin-top: 30px;
}


    